<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--  Listeners for running Tests based on Excel Sheet -->
<listeners>
<listener class-name="org.com.base.AnnotationTransformer"></listener>
</listeners>

<!--  Test class containing Test Cases -->
  <test name="APITest">
    <classes>
      <class name="restapitests.UsersPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->





